<template>
  <vs-row vs-justify="center">
    <vs-col vs-type="flex" vs-justify="center" vs-align="center">
      <div class="header">
        <h2>Meal/Recipe Search</h2>
      </div>
    </vs-col>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center">
      <vs-input
        label-placeholder="Search food"
        v-model="food"
        @keyup.enter="getFoods"
      ></vs-input>
    </vs-col>
    <div v-if="recipes">
      <vs-col
        vs-type="flex"
        vs-justify="center"
        vs-w="4"
        vs-xs="6"
        v-for="(recipe, index) in recipes"
        :key="index"
      >
        <vs-card style="margin: 1rem" color="primary">
          <div slot="header">
            <p>{{ recipe.strArea }}</p>
          </div>
          <div slot="media"><img :src="recipe.strMealThumb" /></div>
          <p>
            {{ recipe.strMeal }}
          </p>
          <div slot="footer">
            <vs-button color="primary" :href="recipe.strSource" target="blank"
              >Full recipe</vs-button
            >
          </div>
        </vs-card>
      </vs-col>
    </div>

    <vs-alert :active.sync="show" v-if="show">
      <p>{{ error }}</p>
    </vs-alert>
  </vs-row>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    food: "",
    recipes: undefined,
    show: false,
  }),
  methods: {
    async getFoods() {
      if (this.food) {
        this.$vs.loading({
          type: "point",
        });
        try {
          let response = await axios.get(
            `https://www.themealdb.com/api/json/v1/1/search.php?s=${this.food}`
          );
          this.recipes = response.data.meals;
          console.log(this.recipes);
        } catch (error) {
          console.log(error);
        }
      }
      this.$vs.loading.close();
    },
  },
};
</script>

<style scoped>
</style>