<template>
<div>
  <p>Dev Profile page</p>
  <vs-collapse>
    <vs-collapse-item>
      <div slot="header">HEllo</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam perspiciatis iste quisquam tenetur veritatis id iure voluptatibus sequi vitae debitis?</p>
    </vs-collapse-item>
  </vs-collapse>
</div>
  
</template>

<script>
export default {};
</script>

<style>
</style>