<template>
  <vs-row vs-justify="center">
    <vs-col vs-type="flex" vs-justify="center" vs-align="center">
      <div v-if="products !== null">
        <vs-col
          vs-type="flex"
          vs-justify="center"
          vs-w="4"
          vs-xs="6"
          vs-sm="6"
          v-for="product in products"
          :key="product.id"
        >
          <router-link :to="{ name: 'Product', params: { id: product.id } }">
            <vs-card style="margin: 1rem" color="primary" actionable>
              <div slot="header">
                <p>{{ product.title }}</p>
              </div>
              <div slot="media">
                <img :src="product.image" style="margin: 0 auto" />
              </div>
              <p>
                {{ product.description }}
              </p>
              <!--<div slot="footer">
            <vs-button color="primary" :to="{name: 'Product', params:{ id: product.id} }"
              >View</vs-button
            >
          </div>-->
            </vs-card>
          </router-link>
        </vs-col>
      </div>

      <vs-alert :active.sync="show" v-if="show">
        <p>{{ error }}</p>
      </vs-alert>
    </vs-col>
  </vs-row>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    products: undefined,
    show: false,
  }),
  methods: {
    async getProducts() {
      this.$vs.loading({
        type: "point",
      });
      try {
        let response = await axios.get(`https://fakestoreapi.com/products`);
        this.products = response.data;
        console.log(this.products);
      } catch (error) {
        this.show = true;
        console.log(error);
      }
      this.$vs.loading.close();
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>

<style scoped>
img {
  width: 9rem;
  height: 9rem;
}
</style>
