<template>
  <div>
    <h1>{{ msg }}</h1>
    <div style="width: 80vw; margin: 2rem auto">
      <vs-row vs-justify="center">
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="10" class="col">
          <vs-card style="background-color: lightblue" actionable fixed-height>

            <!--  <vs-row vs-justify="flex-start">
              <div class="font-bold text-xl">{{ product.price }} @ gram</div>
            </vs-row>-->
            <div slot="header">
              <h3 class="font-bold">Welcome to ViVue</h3>
            </div>
            <div class="mt-1 font-semi-bold text-l">
              <p>A PWA template made with Vite for development, Vuesax and Vue </p>
              <p>Build out with one the API options </p>
            </div>

            <div slot="footer">
              <vs-row vs-justify="flex-start">
                <vs-button type="relief">
                  <v-icon name="brands/google" style="margin-right: 2px"></v-icon>
                  
                </vs-button>
                <vs-button type="gradient" color="danger">
                  <v-icon name="brands/twitter" style="margin-right: 2px"></v-icon>
                  
                </vs-button>
                <vs-button  color="dark">
                  <v-icon name="brands/facebook" style="margin-right: 2px"></v-icon>
                  
                </vs-button>
                <vs-button  color="warning">
                  <v-icon name="brands/github" style="margin-right: 2px"></v-icon>
                  
                </vs-button>
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      ifNone: {
        msg: "No current description",
      },
    };
  },
  methods: {},
};
</script>

<style scoped>
a {
  color: #42b983;
}

.vs-button{
  margin: 0 .3rem
}

.vs-button:hover {
  transform: scale(1.1);
}

.col {
  margin: 1rem;
}
</style>
