<template>
  <div class="">
    <vs-input
      label-placeholder="Name"
      style="margin: 0 auto"
      color="dark"
    ></vs-input>
    <vs-input label-placeholder="Place" style="margin: 1.5rem auto"></vs-input>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@media only screen and (max-width: 900px) {
  .items {
    width: 80vw;
  }
}
</style>
