<template>
  <div>
    <div v-if="product !== null">
      <vs-card style="margin: 1rem; width: " color="primary" actionable>
        <div slot="header">
          <p>{{ product.title }}</p>
        </div>
        <div slot="media">
          <img :src="product.image" style="margin: 0 auto" loading="lazy" />
        </div>
        <p>
          {{ product.description }}
        </p>
      </vs-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  data: () => ({
    product: null,
  }),
  created() {
    this.$vs.loading({
      type: "point",
    });
    try {
      fetch(`https://fakestoreapi.com/products/${this.$route.params.id}`)
        .then((res) => res.json())
        .then((data) => {
          this.product = data;
          this.$vs.loading.close();
        });
    } catch (error) {
      console.log(error);
    }
    
  },
};
</script>

<style scoped>
img {
  width: 9rem;
  height: 9rem;
}
</style>
