<template>
  <vs-row vs-justify="center">
    <vs-col vs-type="flex" vs-justify="center" vs-align="center">
      <vs-input
        label-placeholder="Search ingredient"
        v-model="query"
        @keyup.enter="getDrinks"
      ></vs-input>
    </vs-col>
    <div v-if="drinks">
      <vs-col
        vs-type="flex"
        vs-justify="center"
        vs-w="4"
        vs-xs="6"
        v-for="(drink, index) in drinks"
        :key="index"
      >
        <vs-card style="margin: 1rem" color="primary">
          <div slot="header">
            <p>{{ drink.strCategory }}</p>
          </div>
          <div slot="media"><img :src="drink.strDrinkThumb" /></div>
          <p>
            {{ drink.strDrink }}
          </p>
          <div slot="footer">
            <vs-button color="primary" :href="drink.strSource" target="blank"
              >Full recipe</vs-button
            >
          </div>
        </vs-card>
      </vs-col>
    </div>

    <vs-alert :active.sync="show" v-if="show">
      <p>{{ error }}</p>
    </vs-alert>
  </vs-row>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    query: "",
    drinks: undefined,
    show: false,
  }),
  methods: {
    async getDrinks() {
      if (this.query) {
        this.$vs.loading({
          type: "point",
        });
        try {
          let response = await axios.get(
            `https://www.thecocktaildb.com/api/json/v1/1/search.php?s=${this.query}`
          );
          this.drinks = response.data.drinks;
          console.log(this.drinks);
        } catch (error) {
          console.log(error);
        }
      }
      this.$vs.loading.close();
    },
  },
};
</script>

<style scoped>
</style>