<template >
  <div class="navpage">
    <div>
      <vs-navbar v-model="activeItem" class="nabarx">
        <div slot="title">
          <vs-navbar-title>
            R0N1n
            <vs-button
              size="small"
              @click="active = !active"
              color="primary"
              type="line"
              ><i class="gg-menu-hotdog"></i
            ></vs-button>
          </vs-navbar-title>
        </div>
        <vs-navbar-item>
          <!--<vs-button @click="active=!active">Sidebar</vs-button>-->
        </vs-navbar-item>
        <vs-navbar-item index="0">
          <vs-button to="/" type="flat" size="small">Home</vs-button>
        </vs-navbar-item>
        <vs-navbar-item index="1">
          <vs-button to="/profile" type="flat" color="danger" size="small"
            >Profile</vs-button
          >
        </vs-navbar-item>
        <vs-navbar-item index="2">
          <vs-button to="/recipes" type="flat" color="dark" size="small"
            >Recipes</vs-button
          >
        </vs-navbar-item>
        <vs-navbar-item index="3">
          <vs-button to="/products" type="flat" color="dark" size="small"
            >Store</vs-button
          >
        </vs-navbar-item>
      </vs-navbar>
    </div>
    <div id="parentx" style="margin: 1rem">
      <!--<vs-button @click="active=!active" color="primary" type="relief"><i class="gg-menu" style="display: inline-block; margin-bottom: 3px"></i> Sidebar</vs-button>-->
      <vs-sidebar
        parent="body"
        default-index="1"
        color="primary"
        class="sidebarx"
        spacer
        v-model="active"
      >
        <!--<div class="header-sidebar" slot="header">
        <vs-avatar size="70px" src="https://randomuser.me/api/portraits/men/85.jpg" />

        <h4>
          My Name
          <vs-button color="primary" icon="more_horiz" type="flat"></vs-button>
        </h4>

      </div>-->

        <vs-sidebar-item index="1" to="/dashboard"> Dashboard </vs-sidebar-item>

        <vs-sidebar-item index="2"> History </vs-sidebar-item>

        <vs-divider position="left"> User </vs-divider>

        <vs-sidebar-item index="3"> Configurations </vs-sidebar-item>
        <vs-sidebar-item index="4"> Profile </vs-sidebar-item>
        <vs-sidebar-item index="5"> Card </vs-sidebar-item>

        <div class="footer-sidebar" slot="footer">
          <vs-button color="danger" type="flat">log out</vs-button>
          <vs-button color="primary" type="border"></vs-button>
        </div>
      </vs-sidebar>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    active: false,
    activeItem: 0,
  }),
};
</script>

<style lang="stylus">
.header-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    > button {
      margin-left: 10px;
    }
  }
}

.footer-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  > button {
    border: 0px solid rgba(0, 0, 0, 0) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.07) !important;
    border-radius: 0px !important;
  }
}
</style>