<template>
  <div id="app">
    <div>
      <TheSidebar />
    </div>
    <div class="reload">
      <ReloadPrompt />
    </div>
    <!--<HelloWorld msg="ViVue PWA" />-->
    <div>
      <router-view />
    </div>
  </div>
</template>

<script>
export default {

};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
